<%- include('../partials/head') %>
    <%- include('../partials/nav') %>
    <%- include('../partials/colorfulNav') %>

    <main class="main-content">
        <%- include('../partials/sideNav') %>
        <%- include('../partials/content') %>
    </main>
   

<%- include('../partials/footer') %>