<%- include('../partials/head') %>
    <%- include('../partials/nav') %>
    <%- include('../partials/colorfulNav') %>
    
    <main class="news-one-main">
    
        <%- include('../partials/news-one') %>

    </main>
<%- include('../partials/footer') %>