<%- include('../partials/head') %>
    <%- include('../partials/nav') %>
    <%- include('../partials/colorfulNav') %>
</header>
    <main class="news-many-main">

        <%- include('../partials/news-many') %>

    </main>

<%- include('../partials/footer') %>