<%- include('../partials/head') %>
    <%- include('../partials/nav') %>
    <%- include('../partials/colorfulNav') %>

    <main class="search-results">
        <%- include('../partials/search-result') %>
    </main>
   

<%- include('../partials/footer') %>